<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title><%= head_title %></title>
        <link href="https://cdn.jsdelivr.net/npm/simple-datatables@latest/dist/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/bootstrap.css">

        <link href="/css/styles.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js" crossorigin="anonymous"></script>
    </head>
    <body class="sb-nav-fixed">
        <%- include("./cmmn/nav+side.ejs")%>
                <main>
                    <%users.forEach( (User) => { %>
                    <div class="userscont">
                        <div>
                            <%if (User.image.path){ console.log(User._id) %>
                            <img src="<%= User.image.path.substring(1) %>" alt="users">
                            <%}else{%>
                            <img src="/images/account.png" alt="users">
                             <%}%>   
                            <div class="usersinfo">
                            <p><%= User.username %></p>
                            <p><%= User.Email %></p>
                            <p><%= User.info.Wilaya %></p>
                            <p><%= User.info.fulladress %></p>
                        </div>             
                        </div>     
                        <div class="actions">
                            <%if (!User.isAdmin){%>
                            <button type="button" class="btn btn-success makeAdmin" data-doc="<%= User._id %>">Promote to Admin</button>
                            <button type="button" class="btn btn-danger Delete" data-doc="<%= User._id %>">Delete user</button>
                            <%}else{%>
                            <button type="button" class="btn btn-success">Is Admin</button>
                            
                            <%}%>
                            
                            
                        </div>
                     </div>
                     <%})%>
                </main>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Your Website 2021</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="/js/scripts.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
        <script src="/assets/demo/chart-area-demo.js"></script>
        <script src="/assets/demo/chart-bar-demo.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
        
    </body>
</html>
